/*
 * Skin: Blue
 * ----------
 */
body { 
    font-size: 16px;
    line-height: 1.42857143;  
}
body .container {
    width: 90%;
}
body #page-desktop { 
    height: 100vh;
    background: #F9F9FA;
}
h6.uppercase, .h6.uppercase {
    font-size: 16px;
    font-weight: bold;   
} 

kbd {
    color: #333;
    background-color: #f0f4f7;
}

.modules-container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))!important;
    min-width: 160px;
    width: 100%;
}

.modules-container a.module-box-link {
    flex: 1;
    display: inline-block;
    width: 100%;
}

.modules-container a.module-box-link {
    display: inline-block;
    clear: both;
    /* flex: none; */
}

.modules-container a.module-box-link > i {
    display: inline-block;
    width: 100%;
}

.modules-container a.module-box-link > h4 > div i {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 50px!important;
}

.modules-container a.module-box-link > h4 > div {
    text-align: center;
}

.modules-container .border.module-box {
    padding: 0px!Important;
}

.modules-container i.fa.fa-check-square-o {
    color: #c5bb15!important;
}

.modules-container .inline-block.relative {
    display: none;
}

.control-label, .grid-heading-row {
    color: #8d99a6;
    font-size: 16px;
}
.border.module-box[data-module-name=Getting] {
    background: #ddd!important;
}

i.octicon.octicon-repo {
    color: #4A4B9C!important;
}

i.octicon.octicon-tag {
    color: #19B899!important;
}

i.octicon.octicon-briefcase {
    color: #d83434!important;
}

i.octicon.octicon-package {
    color: #8d99a6!important;
}

i.octicon.octicon-database {
    color: #c5bb15!important;
}

i.octicon.octicon-rocket {
    color: #8E44AD!important;
}

i.octicon.octicon-broadcast {
    color: #0A993F!important;
}

i.octicon.octicon-organization {
    color: #728081!important;
}

i.octicon.octicon-credit-card {
    color: #5a4db3!important;
}

 
.modules-container a.module-box-link > h4 > div i {
    /* color: red!important; */
}

i.octicon.octicon-calendar {
    color: #5f0e0e!important;
}

i.octicon.octicon-settings {
    color: #bd8516!important;
}

i.octicon.octicon-globe {
    color: #4774cc!important;
}

i.octicon.octicon-device-camera-video {
    color: #c3c3c3!important;
}
/*POINT OF SALE*/
body[data-route=point-of-sale] {
    background: #3663bd;
}
body[data-route=point-of-sale] .indicator, .indicator-right { 
    font-size: 16px; 
    color: #fff;
}
body[data-route=point-of-sale] .list-item:hover {
    background-color: #f7fafc;
    color: #6c7680;
}
body[data-route=point-of-sale] .input-group-btn > .btn {
    position: relative;
    color: #333;
}
body[data-route=point-of-sale] .list-item--head .text-muted {
    color: #333!important;
    font-size: 16px;
    font-weight: 700;
}
body[data-route=point-of-sale] .control-label, body[data-route=point-of-sale] .grid-heading-row {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
body[data-route=point-of-sale] .text-muted,
body[data-route=point-of-sale] .list-item__content--flex-2,
body[data-route=point-of-sale] .net-total,
body[data-route=point-of-sale] .taxes {
    
    color: #fff!important;
    font-size: 16px;
    font-weight: 600;
}
 
 
body[data-route=point-of-sale] .list-item:hover > .text-muted,
body[data-route=point-of-sale] .list-item:hover > .list-item__content--flex-2,
body[data-route=point-of-sale] .net-total,
body[data-route=point-of-sale] .taxes{
    color: #334!important;
}
body[data-route=point-of-sale] .empty-state span {
    font-size: 14px;
    color: #fff;
}
body[data-route=point-of-sale] .pos-cart .num-col > div {
    color: #fff!important;
    font-weight: 600;
}
body[data-route=point-of-sale] .cart-items .list-item.current-item {
    background-color: #fffce7;
    color: #333;
}
body[data-route=point-of-sale] .modal-body.ui-front label.control-label {
    color: #333;
}
body[data-route=point-of-sale] .num-col.active > div {
    color: #333!important;
}
body[data-route=point-of-sale] .num-col.brand-primary {
    background-color: #2eb71e;
    color: #ffffff;
}
body[data-route=point-of-sale] .layout-main-section {
    border: 0px solid #d1d8dd;
    border-top: 0px;
}

body[data-route=point-of-sale]  .pos-item-wrapper-1 a.grey.list-id {
    padding: 20px 15px;
    border-bottom: 1px solid #fff;
    color: #fff;
    display: inline-block;
    width: 100%;
    font-weight: 600;
}

body[data-route=point-of-sale]  .pos-item-wrapper-1:last-child a.grey.list-id { 
    border-bottom: 0px solid #fff;  
}
body[data-route=point-of-sale]  .pos-item-wrapper-1 a.grey.list-id:hover {  
    color:#333;
    background: #fff;
}
body[data-route=point-of-sale]  .image-view-container .image-view-row {
    display: block;
    border-bottom: 1px solid #ebeff2;
}
body[data-route=point-of-sale]  .image-view-container .image-view-item {
    flex: 0 0 100%;
    padding: 15px;
    border-bottom: 1px solid #ebeff2;
    border-right: 1px solid #ebeff2;
    max-width: 100%;
} 
 
body[data-route=point-of-sale]  .pos-item-wrapper {
    display: block!important;
    flex-direction: column;
    position: relative;
    width: 100%!important;
}
body[data-route=point-of-sale]  .pos-item-wrapper.image-view-item a {
    color: #fff;
}
body[data-route=point-of-sale]  .pos-item-wrapper.image-view-item:hover {
    background: #fff;
}
body[data-route=point-of-sale]  .pos-item-wrapper.image-view-item:hover > a {
    color: #333;
}
body[data-route=point-of-sale]  .clusterize-no-data {
    text-align: center;
    padding: 15px;
    color: #fff;
}
body[data-route=point-of-sale] .pos-item-wrapper.image-view-item.qty-warning { 
    border-right: 5px solid  #e6c355;
}
body[data-route=point-of-sale] .pos-item-wrapper.image-view-item.qty-danger { 
    border-right: 5px solid red;
}
.form-control { 
    height: 40px; 
    font-size: 18px; 
}
li.dropdown.dropdown-help.dropdown-mobile.open {
    display: none!Important;
}

li.dropdown.dropdown-energy-points.dropdown-mobile {
    display: none!Important;
}

#navbar-search.form-control {
    height: 35px!important;
    font-size: 15px;
}

li.dropdown.dropdown-help.dropdown-mobile {
    display: none!Important;
}
small, .small {
    font-size: 100%;
}
/*END*/